---
layout: compress
---

<!DOCTYPE html>
<html>

{% include head.html %}

<body>


    <button>
        
        <span> 
           
            <a href="https://futurema.de"> 
                <svg class="future-made-btn" version="1.0" xmlns="http://www.w3.org/2000/svg"
            width="32.000000pt" height="32.000000pt" viewBox="0 0 32.000000 32.000000"
            preserveAspectRatio="xMidYMid meet">
            
            <g transform="translate(0.000000,32.000000) scale(0.100000,-0.100000)"
            fill="#000000" stroke="none">
            <path d="M0 224 c0 -73 3 -95 13 -91 6 2 45 15 85 28 l72 23 0 68 0 68 -85 0
            -85 0 0 -96z"/>
            <path d="M200 251 l0 -68 60 21 60 21 0 47 0 48 -60 0 -60 0 0 -69z"/>
            <path d="M223 163 l-73 -27 0 -68 0 -68 85 0 85 0 0 95 c0 70 -3 95 -12 94 -7
            0 -46 -12 -85 -26z"/>
            <path d="M58 117 l-58 -21 0 -48 0 -48 60 0 60 0 0 70 c0 39 -1 70 -2 69 -2 0
            -29 -10 -60 -22z"/>
            </g>
            </svg>
</a>
        </span>

    </button>
        
    <!-- <a href="https://futurema.de" > Back to the Future, Made.</a> -->

    {{ content }}

    <button>
        
        <span> 
           
            <a href="https://futurema.de"> 
                <svg class="future-made-btn" version="1.0" xmlns="http://www.w3.org/2000/svg"
            width="32.000000pt" height="32.000000pt" viewBox="0 0 32.000000 32.000000"
            preserveAspectRatio="xMidYMid meet">
            
            <g transform="translate(0.000000,32.000000) scale(0.100000,-0.100000)"
            fill="#000000" stroke="none">
            <path d="M0 224 c0 -73 3 -95 13 -91 6 2 45 15 85 28 l72 23 0 68 0 68 -85 0
            -85 0 0 -96z"/>
            <path d="M200 251 l0 -68 60 21 60 21 0 47 0 48 -60 0 -60 0 0 -69z"/>
            <path d="M223 163 l-73 -27 0 -68 0 -68 85 0 85 0 0 95 c0 70 -3 95 -12 94 -7
            0 -46 -12 -85 -26z"/>
            <path d="M58 117 l-58 -21 0 -48 0 -48 60 0 60 0 0 70 c0 39 -1 70 -2 69 -2 0
            -29 -10 -60 -22z"/>
            </g>
            </svg>
</a>
        </span>

    </button>

    <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>



<!-- <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> -->

    <!-- Calendly link widget begin -->
<!-- <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script> -->
<!-- Calendly link widget end -->
    <!-- Calendly inline widget begin -->
<!-- <div class="calendly-inline-widget" data-url="https://calendly.com/c/GBAW5L3FA4XRQRPX" style="min-width:320px;height:630px;"></div> -->
<!-- Calendly inline widget end -->

</body>
</html>